<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/artists.css">
    <title>Artists</title>
  </head>
  <body>
    <header>Artists</header>
    <section>
      <p>Choose an artist:</p>
      <form method="post" action="/artist">
      <select name = "name">
        <option>Cardi B</option>
        <option>Abba</option>
        <option>Childish Gambino</option>
        <option>Kendrick Lamar</option>
        <option>Juice WRLD</option>
      </select>
      <input type="Submit"></input>
    </form>
  </section>
  </body>
</html>
