body {
  display: grid;
  margin: 0;
  height:100vh;
  grid-template-rows: 75px auto;
  grid-template-columns: 1fr 1fr;
}

header {
  font-family: Impact;
  background-color: lightblue;
  grid-column: 1 / span 2;
  text-shadow: 2px 2px 5px rgb(250, 250, 100);
  text-align: center;
  font-size: 200%;
  padding-top: 10px;
}

#player {
  background-color: rgb(250, 250, 100);
}

#photo {
  background-color: rgb(250, 150, 100);
}

#player iframe{
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
}

img {
  width: 40%;
  margin-left: 20%;
  margin-top: 10%;
}
